<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xiao.mapper.RoomMapper">

    <!-- 查询所有住房信息 -->
    <select id="getAllRoom" resultType="Room">
        SELECT
          room_id,
          room_num,
          room_size,
          room_area,
          room_desc,
          room_status,
          start_date,
          end_date,
          room_tenant_id
        FROM
          tb_room
    </select>

    <!-- 添加住房信息 -->
    <insert id="addRoom" parameterType="Room">
        INSERT INTO
          tb_room
         VALUES (
          #{roomId},
          #{roomNum},
          #{roomSize},
          #{roomArea},
          #{roomDesc},
          #{roomStatus},
          #{startDate},
          #{endDate},
          #{roomTenantId}
         )
    </insert>

    <!-- 根据房号查询房屋信息 -->
    <select id="getRoom" parameterType="Integer" resultType="Room">
         SELECT
          room_id,
          room_num,
          room_size,
          room_area,
          room_desc,
          room_status,
          start_date,
          end_date,
          room_tenant_id
        FROM
          tb_room
        WHERE
          room_num = #{roomNum}
    </select>

    <!-- 根据ID删除房屋信息 -->
    <delete id="deleteRoomById" parameterType="String">
        DELETE FROM
          tb_room
        WHERE
          room_id = #{roomId}
    </delete>

    <!-- 修改房屋信息 -->
    <update id="updateRoom" parameterType="Room">
        UPDATE
          tb_room
        SET
          room_num = #{roomNum},
          room_size = #{roomSize},
          room_area = #{roomArea},
          room_desc = #{roomDesc},
          room_status = #{roomStatus}
        WHERE
          room_id = #{roomId}
    </update>

    <!-- 根据ID查询房屋信息 -->
    <select id="getRoomById" parameterType="String" resultType="Room">
       SELECT
          room_id,
          room_num,
          room_size,
          room_area,
          room_desc,
          room_status,
          start_date,
          end_date,
          room_tenant_id
        FROM
          tb_room
        WHERE
          room_id = #{roomId}
    </select>

    <!-- 根据ID批量删除住房信息 -->
    <delete id="batchDelete">
        delete from
          tb_room
        where
          room_id
        in
        <foreach collection="array" item="roomId" open="(" separator=","  close=")">
            #{roomId}
        </foreach>
    </delete>
</mapper>